/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/

/*Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 100%;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

/*Header*/

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .searchbar .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.logo,
header .form{
    width: 50%;
}

header{
    background-color: #EAC926;
    display: block;
    padding: 10px;
    font-family: 'Roboto', 12px, sans-serif;

}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}


.searchbar {
    position: relative;  
    margin: 2em auto;
    padding: 2em;  
    border-radius: 40px;
}

#cuotas{
    text-align: center;
}

div .banner{
    width: 100%;
}

.opciones{
    margin: 1%;
    list-style: none;
    padding-top: 10px;
    text-decoration: none;
    color: #000;
}

.opciones1{
    margin: 1%;
    list-style: none;
    padding-top: 10px;
    text-decoration: none;
    color: #000;
}

.burger-menu{
    margin: 1em auto;
    text-align: center;
    background-color: #1259c3;
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
    color: #fff
      }

   .lista{
       text-decoration: none;
       color: #000;
   }

   main{
    width: 90%;
    margin: 0 auto;
   }

   main div article{
    background-color: #fff;    
    margin: 10px 0px;
}

main div article img{
    width: 100%;
}

main div article i,
.discount{
    color: #39b54a;
}

main div article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main div h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

div.ultimavisita,
div.ofertas{
    display: flex;
    flex-wrap: wrap;

}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

   section{
        margin: 10px #ebebeb;
        border-top: 1px solid #ebebeb;
        padding: 15px;
        background-color: white;
   }

   footer article{
       text-align: center;
       margin: 15px;
       margin-left: 25%;
       margin-right: 25%;
   }

   footer h4{
       font-weight: bold;
   }

 

   footer{
    background-color: #Fff;
    text-align: center;   
  }
  footer i{
    font-size: 2em;
    margin-bottom: 10px;
    margin-left:1em;
    margin-right: 1em;
    size: 2em;
    margin-top: 5%;
    color: #1259c3;
  }
  footer h3{
    font-size: 16px;
    margin-bottom: 0.5em;
  }
  footer p {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
   
  @media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }
}